body {
  font-family: Arial, sans-serif;
  background: url("https://wallpaperaccess.com/full/4910984.gif") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #111827;
}